@{
  Layout = "_Layout";
}
@model BakeryTreats.Models.Treat
<h1>Assign a Flavor</h1>
<hr />
<h3>Assign a Flavor to this Treat: @Html.DisplayFor(model => model.TreatName)</h3>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)
  @Html.Label("Select Flavor")
  @Html.DropDownList("FlavorId")
  <input type="submit" value="Add" class="btn btn-success btn-sm" />
}
<hr />
<p>@Html.ActionLink("Cancel", "Details", new { id = Model.TreatId}, new {@class="btn btn-primary btn-sm"})</p>