@{
  Layout = "_Layout";
}
@model BakeryTreats.Models.Treat;
<h4>Add a new Treat:</h4>
@using (Html.BeginForm())
{
  @Html.Label("Name:")
  @Html.TextBoxFor(model => model.TreatName,new {required="required"})
  @Html.Label("Description:")
  @Html.TextBoxFor(model => model.TreatDescription,new {required="required"})
  <br><br>
  <input type="submit" value="Add Treat" class="btn btn-success btn-sm" />
}
<br>
<p>@Html.ActionLink("Cancel", "Index", null, null, new {@class="btn btn-primary btn-sm"})</p>