@{
  Layout = "_Layout";
}
@model BakeryTreats.Models.Flavor
<h1>Assign an Treat</h1>
<hr />
<h3>Assign an Treat to this Flavor: @Html.DisplayFor(model => model.FlavorName)</h3>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)
  @Html.Label("Select Treat")
  @Html.DropDownList("TreatId")
  <input type="submit" value="Add" class="btn btn-success btn-sm" />
}
<hr />
<p>@Html.ActionLink("Cancel", "Details", new { id = Model.FlavorId}, new {@class="btn btn-primary btn-sm"})</p>