@{
  Layout = "_Layout";
}
@model BakeryTreats.Models.Flavor
<h3>Edit Flavor @Html.DisplayFor(model => model.FlavorName)</h3>
<hr />
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)
  @Html.Label("Name:")
  @Html.EditorFor(model => model.FlavorName,new {@required="required"})
  @Html.Label("Description:")
  @Html.EditorFor(model => model.FlavorDescription,new {@required="required"})
  <br><br>
  <input type="submit" value="Save Changes" />
}
<hr />
<p>@Html.ActionLink("Cancel", "Index", null, null, new {@class="btn btn-primary btn-sm"})</p>